#header{
    display: flex;
    justify-content: center;
    background: rgb(204, 196, 220);
}

h1{
    font-family: 'Instrument Serif', serif;
    font-size: 40px;
}

#btn-container{
    display: flex;
    justify-content: space-around;
}

#btn{
    margin-top: 200px;
    background: rgb(204, 196, 220);
    padding: 25px;
    border-radius: 20px;
    border: none;
}

#btn:hover {
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    }

a{
    text-decoration: none;
    font-family: 'Instrument Serif', serif;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

#myVideo{
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}